// $link-clolr: #1198f3;
// $border-clolor: #e5e5e5;
// $text-color: #818181;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Colors
$col-blue: #4285f4;
$col-gray: #787a7d;
$border-gray: #b3b4b7;
$col-black: #1a181c;

@mixin flex($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
  }

  &::-webkit-scrollbar-corner {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($col-gray, 0.8);
    border-radius: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: 0;
  outline: none;
}

hr {
  border: 0.5px solid rgba($border-gray, 0.5);
  margin: 0;
}

.c-container {
  padding-left: 20px;
  padding-right: 20px;
}

.c-header {
  &__text {
    color: $col-blue;
    font-size: 16px;
    font-weight: 700;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.c-main {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  .c-image {
    width: 100%;

    &__title {
      margin-bottom: 15px;
      color: $col-gray;
    }

    &__preview {
      $height: auto;
      animation: slideUp 0.3s;
      height: $height;

      img {
        width: 100%;
        height: $height;
        object-fit: cover;
        object-position: 50% 0;
        border-radius: 10px;
      }
    }
  }

  .c-generate {
    animation: fadeUp 0.2s 0.2s forwards, slideUp 0.2s 0.2s;
    opacity: 0;
    background: $col-blue;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba($col-blue, 0.9);
    }
  }
}

.c-palettes {
  padding: 30px 0;
  &__panels {
    @include flex(space-between, center);
    padding: 15px 0;
    .c-title {
      color: $col-gray;
      font-size: 17px;
    }

    button {
      padding: 12.5px 25px;
      background: $col-blue;
      cursor: pointer;
      color: #ffffff;
      border-radius: 3px;
      transition: background 0.2s;
      font-weight: 700;

      &:hover {
        background: rgba($col-blue, 0.9);
      }
    }
  }

  .c-palette {
    margin-top: 25px;
    animation: slideUp 0.3s;
    &__title {
      color: $col-black;
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(63px, 63px));
      grid-gap: 15px;
      margin-bottom: 35px;
      // justify-content: center;

      .c-color {
        height: 73px;
        border-radius: 5px;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 20px, 0);
  }
}

@keyframes fadeUp {
  100% {
    opacity: 1;
  }
}
